{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> 

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>



<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Attendance</h6>

      </div>

      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>

          <tr>
            <th>Class</th>
            <th>Take Attendance</th>
            <th>View Attendance</th>
          </tr>
        </thead>

        <tr>
          <td> One</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'one'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'one'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Two</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'two'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'two'  %}"><i class="fa-solid fa-eye"></i></span></a></td>
        </tr>

        <tr>
          <td> Three</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'three'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'three'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Four</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'four'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'four'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Five</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'five'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'five'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Six</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'six'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'six'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Seven</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'seven'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'seven'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Eight</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'eight'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'eight'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Nine</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'nine'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'nine'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

        <tr>
          <td> Ten</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'ten'  %}"><i class="fa-solid fa-plus"></i></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'ten'  %}"><i class="fa-solid fa-eye"></i></a></td>
        </tr>

      </table>
    </div>


  </div>
</div>



{% endblock content %}
